  <!-- Content Header (Page header) -->
<style>
	.cke_contents cke_reset {
		height: 100px !important;
	}
</style>
<section class="content-header">
	<h1>
		Cập nhật sản phẩm
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
		<li><a href="#">Sản phẩm</a></li>
		<li><a ui-sref="products">Danh mục</a></li>
		<li class="active">Cập nhật</li>
	</ol>
</section>
<!-- Main content -->
<section class="content">
	<!-- Horizontal Form -->
	<div class="box box-info">
		<div class="box-header with-border">
			<h3 class="box-title">{{product.Name}}</h3>
		</div>
		<!-- /.box-header -->
		<!-- form start -->
		<!--novalidate:Khong dung validating cua Form-->
		<!--Mặc định form này khi Load lên là $invalid-->
		<form class="form-horizontal" novalidate name="frmEditProduct" role="form" ng-submit="UpdateProduct()">
			<div class="box-body">
				<div class="form-group has-feedback">
					<label for="inputEmail3" class="col-sm-2 control-label">Tên sản phẩm</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" ng-change="GetSeoTitle()" ng-maxlength="255" ng-model="product.Name">
						<span ng-show="frmEditProduct.name.$invalid" class="glyphicon glyphicon-alert form-control-feedback"></span>
						<span ng-show="frmEditProduct.name.$error.maxlength" class="glyphicon glyphicon-alert form-control-feedback"></span>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề SEO</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="alias" required ng-model="product.Alias">
						<span ng-show="frmEditProduct.alias.$invalid" class="glyphicon glyphicon-alert form-control-feedback"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Mô tả ngắn</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="description" ng-model="product.Description">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Danh mục</label>
					<div class="col-sm-10">
						<select name="categoryID" class="form-control" ng-model="product.ProductCategoryID" ng-options="option.ID as option.Name for option in productCategories">
							<option value="">Chọn danh mục</option>
						</select>
						<input type="hidden" name="categoryID" ng-model="product.ProductCategoryID" />
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="inputEmail3" class="col-sm-2 control-label">Bảo hành</label>
					<div class="col-sm-10">
						<input type="number" value="0" class="form-control" name="warranty" ng-model="product.Warranty">(tháng)
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="inputEmail3" class="col-sm-2 control-label">Giá</label>
					<div class="col-sm-10">
						<input type="text" ui-number-mask="0" class="form-control" name="price" required ng-model="product.Price">
						<span ng-show="frmEditProduct.price.$invalid" class="glyphicon glyphicon-alert form-control-feedback"></span>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="inputEmail3" class="col-sm-2 control-label">Giá KM</label>
					<div class="col-sm-10">
						<input type="number" value="0" class="form-control" name="promotionPrice" ng-model="product.PromotionPrice">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="image" ng-model="product.Image">
					</div>
					<div class="col-sm-2">
						<!--Không khai báo type="button" thì nó hiểu là submit, nó gọi hàm submit và lưu. bị sai-->
						<button type="button" class="btn btn-default" ng-click="ChooseImage()">Chọn ảnh</button>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh thêm</label>
					<div class="col-sm-10">
						<ul class="list-inline">
							<li class="img-bordered" ng-repeat="img in moreImages">
								<img ng-src="{{img}}" width="100" />
							</li>
						</ul>
						<!--Không khai báo type="button" thì nó hiểu là submit, nó gọi hàm submit và lưu. bị sai-->
						<button type="button" class="btn btn-default" ng-click="ChooseMoreImage()">Chọn ảnh</button>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Mô tả sản phẩm</label>
					<div class="col-sm-10">
						<textarea type="text" class="form-control" name="content" ckeditor="editorOptions" ng-model="product.Content"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Tag</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="tags" ng-model="product.Tags">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Meta Keyword</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="metaKeyword" ng-model="product.MetaKeyword">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Meta Description</label>
					<div class="col-sm-10">
						<textarea class="form-control" name="metaKeyword" ng-model="product.MetaDescription"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="status" ng-model="product.Status" ng-checked="product.Status"> Kích hoạt
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="homeFlag" ng-model="product.HomeFlag" ng-checked="product.HomeFlag"> Hiển thị trang chủ
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="hotFlag" ng-model="product.HotFlag" ng-checked="product.HotFlag"> Sản phẩm hot
							</label>
						</div>
					</div>
				</div>
			</div><!-- /.box-body -->
			<div class="box-footer">
				<button ui-sref="products" class="btn btn-danger">Hủy</button>
				<button type="submit" ng-disabled="frmEditProduct.$invalid" class="btn btn-success pull-right">Lưu</button>
			</div><!-- /.box-footer -->
		</form>
	</div>
	<!-- /.box -->
	<!-- general form elements disabled -->
</section><!-- /.content -->